ASL_Citizen/
ASL_Citizen/ASL_Citizen/sequences_smart/
ASL_Citizen/ASL_Citizen/sequences_small/
ASL_Citizen/ASL_Citizen/splits/
ASL_Citizen/ASL_Citizen/videos/
ASL_Citizen/ASL_Citizen/use.txt
ASL_Citizen/MS-ASL/
ASL_Citizen/asl_sequences/
ASL_Citizen/sequences.zip/
ffmpeg-2025-11-10-git-133a0bcb13-full_build/

*.keras
*.mp4
*.avi
*.jpg
*.h5

asl_env/
augment_env/

Other_info/
Other_models/
Schreiben Kopien/
other/
test_data/
debug/
activate_asl_env.bat